.wrap{
    max-width: 1024px;
    margin: 0 auto;
}
.header {
    display: flex;
    background: #424242;
    padding: 92px 143px;
    color: #FFD366;
    .logo img {
        height: 117px;
        width: 117px;
        margin-right: 97px;
    }
    .heightandweight{
        display: flex;
        flex-direction: column;
        margin-right: 53px;
        label{
            margin: 0;
        }
        input{
            outline: none;
            border:solid 1px #FFD366;
            border-radius: 5px;
            background: #646464;
            text-indent: 16px;
            color: #A5A5A5;
        }
        ::placeholder{
            color: #A5A5A5;
        }
    }
    .output{
        display: flex;
        align-items: center;
        .circle{
            background: #FFD366;
            border-radius: 50%;
            width: 120px;
            height: 120px;
            color: #434343;
            text-align: center;
            line-height: 120px;
            border: none;
        }
        .circleout{
            background-color:transparent;
            color: red;
            border : 3px red solid;
            position: relative;
            line-height: 0;
            margin-right: 18px;
        }
        .text{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -45%);
            h2{
                margin: 0;
                line-height: 1;
            }
            span{
                font-size: 14px;
            }
        }
        .icon{
            position: absolute;    
            top: 70%;
            color: red;
            left: 80%;    
            background: #434343;
            border-radius: 30px;
        }
        .outtext{
            width: 130px;
        }
       
    }

}

h3{
    text-align: center;
    padding-bottom: 15px;
    color: white;
    background: #424242;
}

.content{
    h4{
        text-align: center;
    }
    ul{
        margin: 0 auto;
        width: 620px;
        li{
            margin-bottom: 16px;
            background: #999999;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            p{
                margin: 0;
            }
        }
    }
    .reset{
        text-align: center;
        font-size: 20px;
    }
}

.footer{
    background: #424242;
    position: relative;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 117px;
        height: 117px;
    }
}